.stock-info {
    position: absolute;
    margin-top: 100px;
}

table {
    border: 1px solid white;
    border-collapse: collapse ;
}

th {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    font-size: 18px;
    padding-bottom: 5px;
}

td {
    /* border-bottom: 1px solid lightgrey; */
    border-collapse: collapse ;
    padding-top: 14px;
    font-size: 15px;
    padding-bottom: 5px;
    
}

.stock-name, .change-dollars, .change-percent, .price {
    padding-right: 233px;
}